<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shentu.paper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--android:networkSecurityConfig="@xml/network_security_config"-->
    <application
        android:name=".app.HkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup,android:name">
        <meta-data
            android:name="com.shentu.paper.app.GlobalConfiguration"
            android:value="ConfigModule" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shentu.paper.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity android:name="com.shentu.paper.mvp.ui.my.MyEditActivity" />
        <activity android:name="com.shentu.paper.mvp.ui.activity.MyCollectActivity" />
        <activity android:name="com.shentu.paper.mvp.ui.activity.BannerListActivity" />
        <activity android:name="com.shentu.paper.mvp.ui.activity.SubjectDetailActivity" />
        <activity android:name="com.shentu.paper.mvp.ui.activity.SearchActivity" />
        <activity
            android:name="com.shentu.paper.mvp.ui.activity.MainActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.browser.PictureBrowserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".mvp.ui.fragment.CategoryListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop" />

        <activity
            android:name=".mvp.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".mvp.ui.activity.SettingMoreActivity" />

        <activity android:name=".mvp.ui.activity.PictureShareActivity" />
        <activity android:name=".mvp.ui.home.PaperSummaryActivity" />

        <activity android:name=".mvp.ui.activity.BrowserActivity" />

        <activity android:name=".mvp.ui.activity.TestActivity"/>
    </application>

</manifest>