<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shentu.wallpaper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".app.HkApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9991643602960691~8603727291" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shentu.wallpaper.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity android:name=".mvp.ui.my.MyEditActivity" />
        <activity android:name=".mvp.ui.activity.MyCollectActivity" />
        <activity android:name=".mvp.ui.activity.BannerListActivity" />
        <activity android:name=".mvp.ui.activity.SubjectDetailActivity" />
        <activity android:name=".mvp.ui.activity.SearchActivity" />
        <activity
            android:name=".mvp.ui.login.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.browser.PictureBrowserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.fragment.CategoryListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CategoryPageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- arms配置 -->
        <meta-data
            android:name="com.shentu.wallpaper.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity
            android:name=".mvp.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".mvp.ui.activity.SettingMoreActivity" />
    </application>

</manifest>